<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>

<div class="container well">

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('sign_up_user') }}" method="post" novalidate class="form-signin">
        <h2 class="form-signin-heading">Please sign Up</h2>
        {{ form_widget(form) }}
        &nbsp;&nbsp;<a style="margin-left: 90px; margin-top:-57px" type="button" href="/" class="btn btn-primary" >< Back To Login</a>
    </form>

</div> <!-- /container -->
</body>
</html>